/* COMPONENTS */
/* Estilos específicos para componentes reutilizables del sitio como botones, formularios y grid. */

/* ============================================================
   Buttons
============================================================ */

.btn-1 {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding-block: var(--spacing-s);

    background-color: var(--color-white);
    color: var(--color-black);

    font-family: var(--font-america);
    font-weight: 700;
    font-size: var(--font-size-16);
    text-decoration: none;

    /* cursor: pointer; El descomentaré quan faci la versió desktop */ 
    border: none;
}