/* GLOBAL - Utility classes*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-america);
    font-size: var(--font-size-16);
    line-height: 1.2;
    font-weight: 400;
    text-wrap: pretty;
    background-color: var(--color-black);
    color: var(--color-white);
}

a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

li {
    font-style: normal;
    list-style: none;
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
}

.strong {
    font-weight: 700;
}


/* FONT FAMILY --------------------------*/
    /* GT America Standard */
    .america-light { font-family: var(--font-america); font-weight: 300; font-style: normal; }
    .america-light-it { font-family: var(--font-america); font-weight: 300; font-style: italic; }
    .america-regular { font-family: var(--font-america); font-weight: 400; font-style: normal; }
    .america-regular-it { font-family: var(--font-america); font-weight: 400; font-style: italic; }
    .america-medium { font-family: var(--font-america); font-weight: 500; font-style: normal; }
    .america-medium-it { font-family: var(--font-america); font-weight: 500; font-style: italic; }
    .america-bold { font-family: var(--font-america); font-weight: 700; font-style: normal; }
    .america-bold-it { font-family: var(--font-america); font-weight: 700; font-style: italic; }
    .america-black { font-family: var(--font-america); font-weight: 900; font-style: normal; }
    .america-black-it { font-family: var(--font-america); font-weight: 900; font-style: italic; }

    /* America Cnd */
    .america-cnd-light { font-family: var(--font-america-cnd); font-weight: 300; font-style: normal; }
    .america-cnd-light-it { font-family: var(--font-america-cnd); font-weight: 300; font-style: italic; }
    .america-cnd-regular { font-family: var(--font-america-cnd); font-weight: 400; font-style: normal; }
    .america-cnd-regular-it { font-family: var(--font-america-cnd); font-weight: 400; font-style: italic; }
    .america-cnd-medium { font-family: var(--font-america-cnd); font-weight: 500; font-style: normal; }
    .america-cnd-medium-it { font-family: var(--font-america-cnd); font-weight: 500; font-style: italic; }
    .america-cnd-bold { font-family: var(--font-america-cnd); font-weight: 700; font-style: normal; }
    .america-cnd-bold-it { font-family: var(--font-america-cnd); font-weight: 700; font-style: italic; }
    .america-cnd-black { font-family: var(--font-america-cnd); font-weight: 900; font-style: normal; }
    .america-cnd-black-it { font-family: var(--font-america-cnd); font-weight: 900; font-style: italic; }

    /* America Cmp */
    .america-cmp-light { font-family: var(--font-america-cmp); font-weight: 300; font-style: normal; }
    .america-cmp-light-it { font-family: var(--font-america-cmp); font-weight: 300; font-style: italic; }
    .america-cmp-regular { font-family: var(--font-america-cmp); font-weight: 400; font-style: normal; }
    .america-cmp-regular-it { font-family: var(--font-america-cmp); font-weight: 400; font-style: italic; }
    .america-cmp-medium { font-family: var(--font-america-cmp); font-weight: 500; font-style: normal; }
    .america-cmp-medium-it { font-family: var(--font-america-cmp); font-weight: 500; font-style: italic; }
    .america-cmp-bold { font-family: var(--font-america-cmp); font-weight: 700; font-style: normal; }
    .america-cmp-bold-it { font-family: var(--font-america-cmp); font-weight: 700; font-style: italic; }
    .america-cmp-black { font-family: var(--font-america-cmp); font-weight: 900; font-style: normal; }
    .america-cmp-black-it { font-family: var(--font-america-cmp); font-weight: 900; font-style: italic; }
/* */


/* FONT SIZE --------------------------*/
    .size-12 { font-size: var(--font-size-12); }
    .size-14 { font-size: var(--font-size-14); }
    .size-16 { font-size: var(--font-size-16); }
    .size-18 { font-size: var(--font-size-18); }
    .size-20 { font-size: var(--font-size-20); }
    .size-24 { font-size: var(--font-size-24); }
    .size-28 { font-size: var(--font-size-28); }
    .size-32 { font-size: var(--font-size-32); }
    .size-48 { font-size: var(--font-size-48); }
    .size-64 { font-size: var(--font-size-64); }
    .size-80 { font-size: var(--font-size-80); }
/* */


/* TEXT COLOR --------------------------*/
    .text-white { color: var(--color-white); }
    .text-black { color: var(--color-black); }
/* */


/* TEXT ALIGN --------------------------*/
    .text-center { text-align: center; }
    .text-right { text-align: right; }
    .text-left { text-align: left; }
/* */


/* IMG & VIDEOS --------------------------*/
    img,
    video {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    }

    .of-cover { object-fit: cover; }
    .of-contain { object-fit: contain; }

    .ratio-1-1 { aspect-ratio: 1/1; }
    .ratio-4-3 { aspect-ratio: 4/3; }
    .ratio-3-4 { aspect-ratio: 3/4; }
    .ratio-16-9 { aspect-ratio: 16/9; }
    .ratio-9-16 { aspect-ratio: 9/16; }
/* */


/* BG COLORS --------------------------*/
    .bg-black { background-color: var(--color-black); color: var(--color-white); }
    .bg-white { background-color: var(--color-white); color: var(--color-black); }
/* */


/* DISPLAYS --------------------------*/
    .block { display: block; }
    .hidden { display: none; }  

    @media (min-width: 768px) {
    .m\:block { display: block; }
    .m\:hidden { display: none; }
    }

    @media (min-width: 1024px) {
    .l\:block { display: block; }
    .l\:hidden { display: none; }
    }
/* */


/* FLEXBOX --------------------------*/
    .flex-column { display: flex; flex-direction: column; }
    .flex-row { display: flex; flex-direction: row; }
    .flex-wrap { flex-wrap: wrap; }
    .flex-1 { flex: 1; }

    .jc-center { justify-content: center; }
    .jc-start { justify-content: flex-start; }
    .jc-end { justify-content: flex-end; }
    .jc-between { justify-content: space-between; }

    .ai-center { align-items: center; }
    .ai-start { align-items: flex-start; }
    .ai-end { align-items: flex-end; }

    .gap-xs { gap: var(--spacing-xs); }
    .gap-s { gap: var(--spacing-s); }
    .gap-m { gap: var(--spacing-m); }
    .gap-l { gap: var(--spacing-l); }

    @media (min-width: 768px) {
    .m\:flex-column { display: flex; flex-direction: column; }
    .m\:flex-row { display: flex; flex-direction: row; }
    .m\:jc-center { justify-content: center; }
    .m\:jc-start { justify-content: flex-start; }
    .m\:jc-end { justify-content: flex-end; }
    .m\:jc-between { justify-content: space-between; }
    .m\:ai-center { align-items: center; }
    .m\:ai-start { align-items: flex-start; }
    .m\:ai-end { align-items: flex-end; }
    .m\:gap-xs { gap: var(--spacing-xs); }
    .m\:gap-s { gap: var(--spacing-s); }
    .m\:gap-m { gap: var(--spacing-m); }
    .m\:gap-l { gap: var(--spacing-l); }
    }

    @media (min-width: 1024px) {
    .l\:flex-column { display: flex; flex-direction: column; }
    .l\:flex-row { display: flex; flex-direction: row; }
    .l\:jc-center { justify-content: center; }
    .l\:jc-start { justify-content: flex-start; }
    .l\:jc-end { justify-content: flex-end; }
    .l\:jc-between { justify-content: space-between; }
    .l\:ai-center { align-items: center; }
    .l\:ai-start { align-items: flex-start; }
    .l\:ai-end { align-items: flex-end; }
    .l\:gap-xs { gap: var(--spacing-xs); }
    .l\:gap-s { gap: var(--spacing-s); }
    .l\:gap-m { gap: var(--spacing-m); }
    .l\:gap-l { gap: var(--spacing-l); }
    }
/* */


/* PADDINGS --------------------------*/
    .pinline-xs { padding-inline: var(--spacing-xs); }
    .pblock-xs { padding-block: var(--spacing-xs); }
    .ptop-xs { padding-top: var(--spacing-xs); }
    .pright-xs { padding-right: var(--spacing-xs); }
    .pbottom-xs { padding-bottom: var(--spacing-xs); }
    .pleft-xs { padding-left: var(--spacing-xs); }
    .p-xs { padding: var(--spacing-xs); }

    .pinline-s { padding-inline: var(--spacing-s); }
    .pblock-s { padding-block: var(--spacing-s); }
    .ptop-s { padding-top: var(--spacing-s); }
    .pright-s { padding-right: var(--spacing-s); }
    .pbottom-s { padding-bottom: var(--spacing-s); }
    .pleft-s { padding-left: var(--spacing-s); }
    .p-s { padding: var(--spacing-s); }

    .pinline-m { padding-inline: var(--spacing-m); }
    .pblock-m { padding-block: var(--spacing-m); }
    .ptop-m { padding-top: var(--spacing-m); }
    .pright-m { padding-right: var(--spacing-m); }
    .pbottom-m { padding-bottom: var(--spacing-m); }
    .pleft-m { padding-left: var(--spacing-m); }
    .p-m { padding: var(--spacing-m); }

    .pinline-l { padding-inline: var(--spacing-l); }
    .pblock-l { padding-block: var(--spacing-l); }
    .ptop-l { padding-top: var(--spacing-l); }
    .pright-l { padding-right: var(--spacing-l); }
    .pbottom-l { padding-bottom: var(--spacing-l); }
    .pleft-l { padding-left: var(--spacing-l); }
    .p-l { padding: var(--spacing-l); }
/* */


/* POSITIONS --------------------------*/
    .absolute { position: absolute; }
    .relative { position: relative; }
    .fixed { position: fixed; }
    .sticky { position: sticky; }

    .top-0 { top: 0; }
    .bottom-0 { bottom: 0; }
    .right-0 { right: 0; }
    .left-0 { left: 0; }
    .inset-0 { inset: 0; }
/* */


/* BORDER & RADIUS --------------------------*/
    .border { border: solid 1px var(--color-white); }
    .radius-s { border-radius: 6px; }
    .radius-m { border-radius: 12px; }
/* */


/* WIDTH & HEIGHT --------------------------*/
    .h-full { height: 100vh; }
    .w-full { width: 100%; }
    .h-half { height: 50vh; }
    .w-half { width: 50%; }

    @media (min-width: 768px) {
    .m\:h-full { height: 100vh; }
    .m\:w-full { width: 100%; }
    .m\:h-half { height: 50vh; }
    .m\:w-half { width: 50%; }
    }

    @media (min-width: 1024px) {
    .l\:h-full { height: 100vh; }
    .l\:w-full { width: 100%; }
    .l\:h-half { height: 50vh; }
    .l\:w-half { width: 50%; }
    }
/* */


/* CONTENT DIVIDER --------------------------*/
    .content-divider-s { height: 200px; }
    .content-divider-m { height: 300px; }
    .content-divider-l { height: 400px; }

    @media (min-width: 768px) {
    .m\:content-divider-s { height: 200px; }
    .m\:content-divider-m { height: 300px; }
    .m\:content-divider-l { height: 400px; }
    }

    @media (min-width: 1024px) {
    .l\:content-divider-s { height: 200px; }
    .l\:content-divider-m { height: 300px; }
    .l\:content-divider-l { height: 400px; }
    }
/* */